<td-layout #layout>
  <td-layout-nav-list>
    <div id="chatroom-render" *ngIf="display">
      <app-general-chatroom></app-general-chatroom>
    </div>
    <div td-sidenav-toolbar-content layout="row" flex>
      <div>
        <h3>Prattle</h3>
      </div>
    </div>
    <mat-nav-list td-sidenav-content>
      <h3 md-subheader>CHANNELS (2)</h3>
      <a mat-list-item (click)="onPress()"
        ><mat-icon md-list-icon>sort</mat-icon> general</a
      >
      <a mat-list-item><mat-icon md-list-icon>chat</mat-icon> hangout</a>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <h3 md-subheader>ONLINE USERS (4)</h3>

      <ng-template
        let-item
        let-i="index"
        let-last="last"
        ngFor
        [ngForOf]="userList"
      >
        <a mat-list-item
          ><mat-icon color="accent" md-list-icon>lens</mat-icon> user-{{
            i
          }}
          Hello {{ userList[0] }}</a
        >
      </ng-template>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <h3 md-subheader>DIRECT MESSAGES</h3>
      <ng-template
        let-item
        let-i="index"
        let-last="last"
        ngFor
        [ngForOf]="[0, 1, 2, 3, 4, 5]"
      >
        <a mat-list-item
          ><mat-icon md-list-icon>add_a_photo</mat-icon> username{{ i }}</a
        >
      </ng-template>
    </mat-nav-list>
    <td-layout-footer-inner id="message-box">
      <div layout="row" layout-align="start center">
        <mat-form-field
          class="push-left push-right"
          flex
          layout="row"
          floatPlaceholder="never"
        >
          <mat-label id="text-label">Enter text here</mat-label>
          <textarea
            matInput
            flex
            placeholder="Ex. I really like this app"
            id="text-box"
          ></textarea>
        </mat-form-field>
        <mat-icon>send</mat-icon>
      </div>
    </td-layout-footer-inner>
  </td-layout-nav-list>
</td-layout>
